@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .label {
    @apply block text-sm font-medium uppercase text-gray-700;
  }

  .input {
    @apply w-full appearance-none rounded-md bg-gray-100 px-4 py-4 text-left text-sm text-gray-700 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .submit {
    @apply w-full max-w-[200px] appearance-none rounded-md bg-blue-500 px-4 py-4 text-center font-medium text-white focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

  .btn {
    @apply inline-block appearance-none rounded-md bg-blue-500 px-4 py-2 text-center font-medium text-white focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}

@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-16 sm:py-24;
  }

  .padding-x {
    @apply px-8 sm:px-16;
  }

  .padding-y {
    @apply py-12 sm:py-24;
  }

  .padding-l {
    @apply pl-8 sm:pl-16;
  }

  .padding-r {
    @apply pr-8 sm:pr-16;
  }

  .padding-t {
    @apply pt-12 sm:pt-24;
  }

  .padding-b {
    @apply pb-12 sm:pb-24;
  }
}
